@{
    ViewData["Title"] = "Home Page";
    var userName = User.Identity.IsAuthenticated ? User.Identity.Name : "Invitado";
}

<div class="txt">
    <h1 class="display-4">Bienvenido, Administrador</h1>
</div>
